body {
    background-color: #B4D7D9;
}

nav {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    /*flex-wrap: wrap;*/
    /*flex-basis: 100px;*/
    margin-bottom: 50px;
    position: fixed;
    top: 0px;
}

nav a {
    width: 105px;
    height: 30px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: white;
    text-decoration: none;
}

nav a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    box-shadow: inset 150px 0 0 0 whitesmoke;
}

/*Home Page CSS*/

img{
    display: flex;
    height: 150px;
    width: 150px;
    align-items: left;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/*Make Contact CSS*/

.flex-container{
    display: flex;
    background-color: grey;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-wrap: wrap;
    flex-basis: 100px;
}
.item{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    color: white;
    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    background: red;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: my-animation;
    animation-duration: 4s;
}

@keyframes my-animation {
    0% {
        background-color: white;
    }
    25% {
        background-color: red;
    }
    50% {
        background-color: green;
    }
    75% {
        background-color: blue;
    }
    100% {
        background-color: white;
    }
}

.titles {
    text-align: center;
    font-family: "Lucida Handwriting";
}

.content {
    background-color: darkblue;
    color: white;
    margin: auto;
    width: 80%;
    padding: 40px;
}
