extends layout

block content
    header About Us
    .content
        p "E23" is a platform that started from a small business and a dream to use our expertise as long-time collectors to help *you* find your dream pair.
        p All the products on this site are authentic!
        p We at E23 have a variety of Sneakers with high-end products for you to choose from.
        p Beer Sheva - Metsada 11 Street
        .map
            h4 Find our location via Maps:
            a.nav-link(href='https://goo.gl/maps/UK7wbWjJjzGpksXy6', target='_blank')
            img(src='pics/map.png', width='200', height='200')
    br
    br
    .flip-cards-container
        .flip-card
            .flip-card-inner
                .flip-card-front
                    h1 Amit Fedali
                    img(src='pics/aboutPics/Amit.jpg', alt='Avatar', style='width:300px;height:300px;')
                .flip-card-back
                    h1 My Favorite Shoes
                    img(src='pics/aboutPics/d.webp', alt='Avatar', style='width:450px;height:300px;')
        header.flip-header Our Team
        .flip-card
            .flip-card-inner
                .flip-card-front
                    h1 Eyal Arkush
                    img(src='pics/aboutPics/Eyal.jpg', alt='Avatar', style='width:300px;height:300px;')
                .flip-card-back
                    h1 My Favorite Shoes
                    img(src='pics/aboutPics/h.webp', alt='Avatar', style='width:450px;height:300px;')

