extends layout

block content
    header Contact Us
        .content
            form#contact(action='mailto:eyalark@post.bgu.ac.il', enctype='text/plain', method='GET', target='_blank')
                label.form-label(for='subject') Subject
                input#subject(type='text')
                label.form-label(for='c2') Content
                textarea#c2.form-control(name='body', rows='5')
                button#submit(type='submit') Submit
