//CreateDB
block content
    h1 links to create DB
    h3 click on the links to create the DB
    ol
        li
            a(href="/createTables") Link to create tables
        li
            a(href="/dropTables") Link to drop the tables