

link(rel="stylesheet" href="style.css")
block content
    h1 Please click on the links below in order to CRUD the DB tables of this site.
    ol
        li
            a(href="/createTables") Click on the link to Create the DB tables
        br
        li
            a(href="/InsertDataToUsers") Click on the link Insert data to Users table
        br
        li
            a(href="/InsertDataToProducts") Click on the link Insert data to Products table
        br

        li
            a(href="/dropTables") Click on the link to Drop the DB tables
        br