extends layout
block content
        header
            img#logo(src="pics/slogan.png", alt="website logo")
            div#head Welcome to "EA23" Sneakers

        div#welcome.flex-container
            div.slideshow-container
                div.Slide
                    img(src="pics/Slides1/1.jpeg", alt="Alt", style="width:200%")
                div.Slide
                    img(src="pics/Slides1/2.jpeg", alt="Alt", style="width:200%")
                div.Slide
                    img(src="pics/Slides1/3.jpeg", alt="Alt", style="width:200%")
                div.Slide
                    img(src="pics/Slides1/4.jpeg", alt="Alt", style="width:200%")
                div.Slide
                    img(src="pics/Slides1/5.jpeg", alt="Alt", style="width:200%")
                div.Slide
                    img(src="pics/Slides1/6.jpeg", alt="Alt", style="width:200%")
                div.Slide
                    img(src="pics/Slides1/7.jpeg", alt="Alt", style="width:200%")
                div.Slide
                    img(src="pics/Slides1/8.jpeg", alt="Alt", style="width:200%")
            br
            br
