extends items
block content
    h2 User behavior reserch
    uleach val in var1
        li(class='itemTitle')=val.Title
        div
            span=val.AbstractShort
            span=val.AbstractLong