doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="style.css")
        script(defer src="homePage.js")
        script(defer src= "app.js")
        script(defer src= "crud.js")

        meta(charset="UTF-8")
        title Title
    body
        nav
            a.homeBtn(href="/homePage") Home
            a(href="/products") Products
            a(href="/myCart") My Cart
            a(href="/myOrder") My Orders
            div#loggedInUserContainer
                div#loggedInUserName
                    | Logged in as #{loggedInUserName}
                a#logoutLink(href="/signIn", style="color: red") Logout
            img#clockImg(src="pics/clockPics/sun.png", alt="Avatar", style="width:38px;height:35px;")
        block content
        footer
            a(href='/aboutUs') About Us
            a(href='/contactUs') Contact Us
            p &copy; "EA" Sneakers Website All rights reserved
