<!DOCTYPE html>
<html lang="en">
<head>
  <script defer src="myCart.js"></script>
  <script defer src="products.js"></script>
  <script defer src ="script.js"></script>
  <meta charset="UTF-8">
  <title>My Cart</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
  <a class="homeBtn" href="/homePage">Home</a>
  <a href="/products">Products</a>
  <a href="/myCart">My Cart</a>
  <a href="/myOrder">My Orders</a>
  <div id="loggedInUserContainer">
    <div id="loggedInUserName"></div>
    <a href="/signIn" id="logoutLink" style="color: red">Logout</a>
  </div>
</nav>
<br>
<br>
<header>My Cart
<br>
</header>

<div class="summary-section">
  <p id="total-price"></p></br>
</div>

<div class="summary-section">
  <button id="clear-all-btn">Clear All</button>
  <button id="buy-now-btn"  >Buy Now!</button>
</div>

<table class="table-container">
  <thead>
  <tr>

  </tr>
  </thead>
  <tbody id="cart-items">

  </tbody>
</table>

<footer>
  <a href="/aboutUs">About Us</a>
  <a href="/contactUs">Contact Us</a>
  <p>&copy; "EA" Sneakers Website All rights reserved</p>
</footer>


</body>
</html>

