extends layout
block content
    header Orders List
    table.table-container
        tr
            th Order
            th date
            th totalPrice
            th userEmail
        each order, index in orders
            tr
                //td= order.orderId
                td= index+1
                td= (order.date)
                td= order.totalPrice
                td= order.userEmail
