<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src ="script.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel ="stylesheet" href ="style.css">
</head>
<body>
<header>
    My Orders
    <br>
    <img id="logo3" src="pics/cart3.png" alt="cart">
    </header>

<nav>
    <a class="homeBtn" href="/homePage">Home</a>
    <a href="/products">Products</a>
    <a href="/myCart">My Cart</a>
    <a href="/myOrder">My Orders</a>
    <div id="loggedInUserContainer">
        <div id="loggedInUserName"></div>
        <a href="/signIn" id="logoutLink" style="color: red">Logout</a>
    </div>
</nav>

<div class="flex-container" id="cart3">
</div>

    <table id="myOrders">
        <tr>
            <th>Order Number</th>
            <th>Date</th>
            <th>Total Sum</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>1</td>
            <td>10/5/23</td>
            <td>200$</td>
            <td>picked up</td>
        </tr>
        <tr>
            <td>2</td>
            <td>11/5/23</td>
            <td>1000$</td>
            <td>picked up</td>
        </tr>
    </table>

<footer>
    <a href="/aboutUs">About Us</a>
    <a href="/contactUs">Contact Us</a>
    <p> &copy; "EA" Sneakers Website All rights reserved</p>
</footer>

</body>
</html>

