extends layout

block content
    h1 orders List
    table
        tr
            th orderId
            th date
            th totalPrice
            th userEmail
        each order in orders
            tr
                td= order.orderId
                td= (order.date)
                td= order.totalPrice
                td= order.userEmail

    footer
        a(href='/aboutUs') About Us
        a(href='/contactUs') Contact Us
        p &copy; "EA" Sneakers Website All rights reserved
