doctype html
html(lang='en')
    head
        script(defer='', src='script.js')
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet', href='style.css')
    body
        header My Orders
            br
            img#logo3(src='pics/cart3.png', alt='cart')
        nav
            a.homeBtn(href='/homePage') Home
            a(href='/products') Products
            a(href='/myCart') My Cart
            a(href='/myOrder') My Orders
            #loggedInUserContainer
                #loggedInUserName
                a#logoutLink(href='/signIn', style='color: red') Logout
        #cart3.flex-container
        table#myOrders
            tbody
                tr
                    th Order Number
                    th Date
                    th Total Sum
                    th Status
                tr
                    td 1
                    td 10/5/23
                    td 200$
                    td picked up
                tr
                    td 2
                    td 11/5/23
                    td 1000$
                    td picked up
        footer
            a(href='/aboutUs') About Us
            a(href='/contactUs') Contact Us
            p  &copy; "EA"Sneakers Website All rights reserved