doctype html
html(lang='en')
    head
        script(defer='', src='products.js')
        script(defer='', src='script.js')
        // <script defer src="Search2.js"></script>
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet', href='style.css')
    body
        nav
            a.homeBtn(href='/homePage') Home
            a(href='/products') Products
            a(href='/myCart') My Cart
            a(href='/myOrder') My Orders
            #loggedInUserContainer
                #loggedInUserName
                a#logoutLink(href='/signIn', style='color: red') Logout
        br
        br
        header Products
        form#searchForm
            input#search(type='text', placeholder='Search..', name='search')
        #filtersButtons
            button.btnFilter(onclick="filterByBrand('all')")  Show all
            button.btnFilter(onclick="filterByBrand('Nike')") Nike
            button.btnFilter(onclick="filterByBrand('New Balance')") New Balance
            button.btnFilter(onclick="filterByBrand('Yeezy')")  Yeezy
        .table-container
            table
                thead
                    tr
                tbody#data-output
        footer
            a(href='/aboutUs') About Us
            a(href='/contactUs') Contact Us
            p  &copy; "EA"Sneakers Website All rights reserved