doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Title
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="Login.css")
    body
        header Sign Up
        div
            form#details.content(action="/UserSignUp", method="post")
                label(for="accountEmail")
                    b Email
                input(type="email", id="accountEmail", name="email" placeholder= "Email...", class="input_signUp", required, pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$")
                label(for="psw")
                    b Password
                input(type="password", id="psw", name="psw" placeholder= "Password...", class="input_signUp", required, minlength="7")
                label(for="name")
                    b Full Name
                input(type="text", id="name", name="name" placeholder= "First Name+Last Name...", class="input_signUp", required, pattern="[A-Za-z]{2,} [A-Za-z]{2,}")

                label(for="phone")
                    b Phone
                input(type="tel", id="phone", name="phoneNum" placeholder= "Phone Number...", class="input_signUp", required, pattern="[0-9]+")
                button(type="submit", id="signUp" value="Sign Up") Sign Up
                div#signInContainer
                    br
                    a#BackClick(href="/signIn", style="background-color:#3e8e41") Back To Sign In