<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="Sign%20Up.js"></script>
    <script defer src="users.json"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel ="stylesheet" href ="style.css">
    <link rel="stylesheet" href="Login.css">
</head>

<body>
<header>
    Sign Up
</header>

<div>
    <form id = "details" class="content" action="/UserSignUp" method="post">

        <label for="accountEmail"><b>Email</b></label>
        <input type="email" id="accountEmail" required name="email" class="input_signUp" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">

        <label for="psw"><b>Password</b></label>
        <input type="password" id="psw" required class="input_signUp" required minlength="7" name="password" >

        <label for="confirmPsw"><b>Confirm Password</b></label>
        <input type="password" id="confirmPsw" required class="input_signUp" required minlength="7">

        <label for="name"><b>Full Name</b></label>
        <input type="text" id="name" required class="input_signUp" required pattern= "[A-Za-z]+[ ][A-Za-z]+">

        <label for="phone"><b>Phone</b></label>
        <input type= "tel" id="phone" required class="input_signUp" required pattern="[0-9]+">

        <button type="submit" id="signUp" value="Sign Up">Sign Up</button>

        <div id="signInContainer">
            <br>
            <a id = "BackClick" href="/signIn"  style="background-color:#3e8e41">Back To Sign In</a>
        </div>
    </form>
</div>

</body>
</html>