<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="Sign%20In.js"></script>
    <script defer src="users.json"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel ="stylesheet" href ="style.css">
    <link rel="stylesheet" href="Login.css">
</head>
<body>

<header>
    <h1 style="margin-top: 5px; margin-bottom: 10px;">Login</h1>
</header>

<div class="flex-container">
    <div class="content">
        <form action="" method="" id="login">

            <label for="accountEmail" >Email</label>
            <input type="email" placeholder="Enter your email" id="accountEmail" required>
            <label for="psw">Password</label>
            <input type="password" placeholder="Enter Password" id="psw" required>
            <button type="submit" id="loginBtn">Login</button>
            <br>
            <div id="signUpContainer">
                <label id="newUserLabel" >New User?</label>
                <a href="/signUp" id="signUpLink">Sign up</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>