//extends layout
doctype html
html(lang="en")
    head
        link(rel= "stylesheet" href ="style.css")
        script(defer src ="script.js")
        script(defer src ="app.js")
        script(defer src ="crud.js")
        script(defer src ="homePage.js")
        meta(charset="UTF-8")
        title Title
    body
    nav
        a.homeBtn(href='/homePage') Home
        a(href='/products') Products
        a(href='/myCart') My Cart
        a(href='/myOrder') My Orders
        #loggedInUserContainer
            #loggedInUserName
            a#logoutLink(href='/signIn', style='color: red') Logout
    head
        title User List
    body
        h1 User List
        table
            tr
                th Email
                th Password
                th Name
                th Phone
            each user in users
                tr
                    td= user.email
                    td= user.psw
                    td= user.name
                    td= user.phone
        footer
            a(href='/aboutUs') About Us
            a(href='/contactUs') Contact Us
            p  &copy; "EA" Sneakers Website All rights reserved
