extends layout
block content
    head
        title User List
    body
        h1 User List
        table
            tr
                th Email
                th Password
                th Name
                th Phone
            each user in users
                tr
                    td= user.email
                    td= user.psw
                    td= user.name
                    td= user.phone
